{% extends "layout.html" %}

{% block content %}
          <div class="templatemo_two_column_section">
           	<div class="templatemo_two_column_left">
           	  <h1>Popular Posts</h1>
                        
                        <div class="templatemo_gallery_box">
							<p>
                            	<img alt="Free CSS Template" src="images/templatemo_thumb_1.jpg" />
                              	<span class="header"><a href="#">Fusce blandit turpis vel quam</a></span><br />
                                Integer malesuada sagittis sapien. Thank you for visiting. Cras mauris nulla, convallis eu, semper sit amet, scelerisque.</p>
              </div>
                        <div class="templatemo_gallery_box">
							<p>
                            	<img alt="Free CSS Template" src="images/templatemo_thumb_2.jpg" />
                           	  	<span class="header"><a href="#">Proin vel libero id erat venenatis</a></span><br />
                            	Mollis mauris vitae erat. Aliquam eget elit. Quisque nec orci. Phasellus posuere, urna euismod feugiat accumsan.
							</p>
              </div>
                        <div class="templatemo_gallery_box">
							<p>
                            	<img alt="Free CSS Template" src="images/templatemo_thumb_3.jpg" />
                           	  	<span class="header"><a href="#">Donec pellentesque quam</a></span><br />
                            	Augue tortor euismod enim, auctor volutpat massa orci et nisi. Donec libero. Proin sed purus ut elit molestie mollis.
							</p>
              </div>
            </div>
{% endblock %}