<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main View</title>
</head>

<body>
    <h1>This is the main View of the Act1 Doctrine</h1>
    <br>
    <ul>
        <li>
            <h2><a href="http://localhost/UD4/Ej1_Doctrine/public/Index.php/list">List</a></h2>
        </li>
        <li>
            <h2><a href="">Detail</a></h2>
        </li>
        <li>
            <h2><a href="">List</a></h2>
        </li>
    </ul>

</body>

</html>