{% extends 'base.html.twig' %}

{% block title %}List Personas{% endblock %}

{% block body %}
<h2>Personas Table</h2>

<table class="custom-table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for persona in personas %}
        <tr>
            <td>{{persona.getNombres() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
