{% extends "layout.html" %}

{% block content %}

<div id="form_container">
    <form method="post" action="">
        <div>
            <h2>Update {{ client.getNOMBRE() }}</h2>
        </div>
        <label for="clientCode">Client Code</label>
        <div>
            <input name="clientCode" type="number" size="5" value="{{ client.getCLIENTE_COD() }}" />
        </div>

        <label for="name">Name</label>
        <div>
            <input name="name" type="text" maxlength="45" size="45" value="{{ client.getNOMBRE() }}" />
        </div>

        <label for="address">Address</label>
        <div>
            <input name="address" type="text" maxlength="40" size="40" value="{{ client.getDIREC() }}" />
        </div>

        <label for="city">City</label>
        <div>
            <input name="city" type="text" maxlength="30" size="30" value="{{ client.getCIUDAD() }}" />
        </div>

        <label for="state">State</label>
        <div>
            <input name="state" type="text" maxlength="2" size="2" value="{{ client.getESTADO() }}" />
        </div>

        <label for="zipCode">ZIP Code</label>
        <div>
            <input name="zipCode" type="text" maxlength="9" size="9" value="{{ client.getCOD_POSTAL() }}" />
        </div>

        <label for="area">Area</label>
        <div>
            <input name="area" type="number" maxlength="5" size="5" value="{{ client.getAREA() }}" />
        </div>

        <label for="phone">Telephone</label>
        <div>
            <input name="phone" type="text" maxlength="9" size="9" value="{{ client.getTELEFONO() }}" />
        </div>

        <label for="reprCode">Contact
        </label>
        <div>
            <select name="reprCode">
                <option value="7369">S?NCHEZ</option>
                <option value="7499">ARROYO</option>
                <option value="7521">SALA</option>
                <option value="7566">JIM?NEZ</option>
                <option value="7654">MART?N</option>
                <option value="7698">NEGRO</option>
                <option value="7782">CEREZO</option>
                <option value="7788">GIL</option>
                <option value="7839">REY</option>
                <option value="7844">TOVAR</option>
                <option value="7876">ALONSO</option>
                <option value="7900">JIMENO</option>
                <option value="7902">FERN?NDEZ</option>
                <option value="7934">MU?OZ</option>
            </select>
        </div>

        <label for="limiteCredito">Credit Limit</label>
        <div>
            <input name="limiteCredito" type="number" max="9999999.99" min="0" step=".01" value="" />
        </div>

        <label for="observaciones">Comments</label>
        <div>
            <textarea name="observaciones" cols="50" rows="5"></textarea>
        </div>

        <input type="submit" name="submit" value="Insert" />
    </form>
</div>

<br><br><br>
{% endblock %}