{% extends "layout.html" %}

{% block content %}

<h2>{{ emp.getApellidos() }}'s Info</h2>
<table class="custom-table">
    <thead>
        <tr>
            <th>Surnames</th>
            <th>Office</th>
            <th>Salary</th>
            <th>Dept No</th>
            <th>Clients</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ emp.getApellidos() }}</td>
            <td>{{ emp.getOficio() }}</td>
            <td>{{ emp.getSalario() }}</td>
            <td>{{ emp.getDeptNo().getDnombre() }}</td>
            <td>
                {% for cliente in emp.getClientes() %}
                {{ cliente.getNombre() }}
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

<br><br><br>
{% endblock %}