{% extends "base.html.twig" %}
{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>F. NACIMIENTO</th>
    </tr>
    {% for row in resultados %}
    <tr>
        <td>{{row.getUserId}}</td>
        <td>{{row.getUserName}}</td>
        <td>{{row.getUserBirthDate | date("d/m/Y")}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}