<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main View</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f1e7;
            color: #635d52;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #433d33;
            color: #f5f1e7;
            text-align: center;
            padding: 20px;
        }

        h1 {
            color: #7d7362;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #6b6357;
            transition: color 0.3s ease-in-out;
        }

        a:hover {
            color: #8c8275;
        }
    </style>
</head>

<body>
    <header>
        <h1>This is the main View of the Act1 Doctrine</h1>
    </header>
    <br>
    <ul>
        <li>
            <h2><a href="http://localhost/UD4/Ej1_Doctrine/public/Index.php/list">List</a></h2>
        </li>
    </ul>
</body>

</html>
